// out: custom.css

@font-face
    font-family: "BebasNeue"
    src: url("../fonts/BebasNeue.otf")

.main
    min-height: 100%

h1, h2, h3, h4, h5, h6
    font-family: "BebasNeue"

a
    font-weight: bold

.navbar .row
    padding-top: 10px
    padding-bottom: 10px
    img
        padding-top: 7px
    a
        color: #333333

for i in (1..10)
    #div_id_core_subject_order{i}
        background-color: rgba(250, 246, 215, 0.63) // yellow
        border: 1px solid darken(rgba(250, 246, 215, 0.63), 30%)
    #div_id_specific_subject1_order{i}
        background-color: rgba(230, 240, 250, 0.63) // blue
        border: 1px solid darken(rgba(230, 240, 250, 0.63), 30%)
    #div_id_specific_subject2_order{i}
        background-color: rgba(230, 250, 236, 0.63) // green
        border: 1px solid darken(rgba(230, 250, 236, 0.63), 30%)
    #div_id_specific_subject3_order{i}
        background-color: rgba(241, 230, 250, 0.63) // purple
        border: 1px solid darken(rgba(241, 230, 250, 0.63), 30%)

#div_id_nif1, #div_id_long_name1
    background-color: rgba(250, 246, 215, 0.63) // yellow
    border: 1px solid darken(rgba(250, 246, 215, 0.63), 30%)

#div_id_nif2, #div_id_long_name2
    background-color: rgba(230, 240, 250, 0.63) // blue
    border: 1px solid darken(rgba(230, 240, 250, 0.63), 30%)

#div_id_nif3, #div_id_long_name3
    background-color: rgba(230, 250, 236, 0.63) // green
    border: 1px solid darken(rgba(230, 250, 236, 0.63), 30%)

#div_id_nif4, #div_id_long_name4
    background-color: rgba(241, 230, 250, 0.63) // purple
    border: 1px solid darken(rgba(241, 230, 250, 0.63), 30%)

.error
    color: #a94442
    font-weight: bold

.footer
    background: url("../img/background.png")
    border-top: 1px solid lightgray
    margin-top: 50px
    height: 100px
    text-align: center
    p
        padding: 40px
        margin: 0
        i
            color: red

.description
    border-left: 10px solid rgb(210, 210, 210)
    padding-left: 10px

.disclaimer
    margin-top: 50px
    text-align: center

.notify_errors
    margin-top: 100px
    font-size: 10pt
