@font-face
    font-family: "BebasNeue"
    src: url("../fonts/BebasNeue.otf")

.main
    min-height: 100%

h1, h2, h3, h4, h5, h6
    font-family: "BebasNeue"

.navbar .row
    padding-top: 10px
    padding-bottom: 10px
    img
        padding-top: 7px
    a
        color: #333333

for i in (1..10)
    #div_id_core_subject_order{i}
        background-color: rgba(250, 246, 215, 0.63) // yellow
        border: 1px solid darken(rgba(250, 246, 215, 0.63), 30%)
    #div_id_specific_subject1_order{i}
        background-color: rgba(230, 240, 250, 0.63) // blue
        border: 1px solid darken(rgba(230, 240, 250, 0.63), 30%)
    #div_id_specific_subject2_order{i}
        background-color: rgba(230, 250, 236, 0.63) // green
        border: 1px solid darken(rgba(230, 250, 236, 0.63), 30%)
    #div_id_specific_subject3_order{i}
        background-color: rgba(241, 230, 250, 0.63) // purple
        border: 1px solid darken(rgba(241, 230, 250, 0.63), 30%)

.error
    color: #a94442
    font-weight: bold

.footer
    background: url("../img/background.png")
    border-top: 1px solid lightgray
    margin-top: 50px
    height: 100px
    text-align: center
    p
        padding: 40px
        margin: 0
        i
            color: red
