{% set truncate_limit = 38 %}

<div id="academic" class="section">
    <div class="title">Información académica: Itinerario {{ academic.training_itinerary_label|upper }}</div>

    <table>
        <tr>
            <td class="subtitle" colspan="3" style="width: 49%">
                Materia específica 1
            </td>
            <td style="width: 1%"></td>
            <td class="subtitle" colspan="3" style="width: 49%">
                Materia específica 2
            </td>
        </tr>
        <tr>
            <td class="label">X</td>
            <td class="value" colspan="2">{{ academic.specific_subject1_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">1ª</td>
            <td class="value" colspan="2">{{ itinerary.specific_subject2_order1_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td class="label">2ª</td>
            <td class="value" colspan="2">{{ itinerary.specific_subject2_order2_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td class="label">3ª</td>
            <td class="value" colspan="2">{{ itinerary.specific_subject2_order3_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td class="label">4ª</td>
            <td class="value" colspan="2">{{ itinerary.specific_subject2_order4_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td class="label">5ª</td>
            <td class="value" colspan="2">{{ itinerary.specific_subject2_order5_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
    </table>
</div>
