{% set truncate_limit = 40 %}

<div id="academic" class="section">
    <div class="title">Información académica</div>

    <table>
        <tr>
            <td class="subtitle" colspan="3" style="width: 48%">
                Materia específica 1
            </td>
            <td style="width: 2%"></td>
            <td class="subtitle" colspan="3" style="width: 48%">
                Materia específica 2
            </td>
        </tr>
        <tr>
            <td class="label">X</td>
            <td class="value" colspan="2">{{ academic.specific_subject1_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">X</td>
            <td class="value" colspan="2">{{ academic.specific_subject2_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
    </table>

</div>
