<div id="academic" class="section">
    <div class="title">Información académica</div>

    <table>
        <tr>
            <td class="subtitle" style="width: 30%">
                Materia específica 1
            </td>
            <td style="width: 2%"></td>
            <td class="subtitle" colspan="2" style="width: 68%">
                Materia específica 2
            </td>
        </tr>
        <tr>
            <td class="value">{{ academic.specific_subject1_label|upper }}</td>
            <td></td>
            <td class="label">1ª</td>
            <td class="value">{{ academic.specific_subject2_order1_label|upper }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="label">2ª</td>
            <td class="value">{{ academic.specific_subject2_order2_label|upper }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="label">3ª</td>
            <td class="value">{{ academic.specific_subject2_order3_label|upper }}</td>
        </tr>
    </table>

</div>
