<div id="academic" class="section">
    <div class="title">Información académica</div>

    <table>
        <tr>
            <td class="subtitle" style="width: 49%">
                Método de acceso
            </td>
            <td style="width: 2%"></td>
            {% if academic.remarks %}
                <td class="subtitle" style="width: 49%">
                    Observaciones / Módulos a repetir
                </td>
            {% endif %}
        </tr>
        <tr>
            <td class="value" rowspan="2">{{ academic.access_via_label|upper|truncate(80, True, "", 0) }}</td>
            <td></td>
            {% if academic.remarks %}
                <td class="value" rowspan="3">{{ academic.remarks|truncate(800, True, "", 0) }}</td>
            {% endif %}
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>
