{% set truncate_limit = 22 %}

<div id="academic" class="section">
    <div class="title">Información académica: Itinerario {{ academic.training_itinerary_label|upper }}</div>

    <table>
        <tr>
            <td class="subtitle" colspan="2" style="width: 32%">
                Troncales de opción
            </td>
            <td style="width: 2%"></td>
            <td class="subtitle" colspan="2" style="width: 32%">
                Materias específicas
            </td>
            <td style="width: 2%"></td>
            <td class="subtitle" colspan="2" style="width: 32%">
                Libre conf. autonómica
            </td>
        </tr>
        <tr>
            <td class="label">1ª</td>
            <td class="value">{{ itinerary.core_subject_order1_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">1ª</td>
            <td class="value">{{ itinerary.specific_subject2_order1_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">1ª</td>
            <td class="value">{{ academic.specific_subject1_order1_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td class="label">2ª</td>
            <td class="value">{{ itinerary.core_subject_order2_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">2ª</td>
            <td class="value">{{ itinerary.specific_subject2_order2_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">2ª</td>
            <td class="value">{{ academic.specific_subject1_order2_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="label">3ª</td>
            <td class="value">{{ itinerary.specific_subject2_order3_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">3ª</td>
            <td class="value">{{ academic.specific_subject1_order3_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="label">4ª</td>
            <td class="value">{{ itinerary.specific_subject2_order4_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">4ª</td>
            <td class="value">{{ academic.specific_subject1_order4_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="label">5ª</td>
            <td class="value">{{ itinerary.specific_subject2_order5_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">5ª</td>
            <td class="value">{{ academic.specific_subject1_order5_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="label">6ª</td>
            <td class="value">{{ itinerary.specific_subject2_order6_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">6ª</td>
            <td class="value">{{ academic.specific_subject1_order6_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="label">7ª</td>
            <td class="value">{{ itinerary.specific_subject2_order7_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">7ª</td>
            <td class="value">{{ academic.specific_subject1_order7_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="label">8ª</td>
            <td class="value">{{ itinerary.specific_subject2_order8_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
            <td></td>
            <td class="label">8ª</td>
            <td class="value">{{ academic.specific_subject1_order8_label|upper|truncate(truncate_limit, True, "", 0) }}</td>
        </tr>

    </table>

</div>
