{% set truncate_limit = 80 %}

<div id="auth" class="section">

    {% if not student.adult %}
        <div class="title">Autorizaciones de salida</div>
        <table>
            {% if auth_pick.id1 or auth_pick.id2 or auth_pick.id3 or auth_pick.id4 %}
                <thead>
                    <td>NIF/Pasaporte</td>
                    <td></td>
                    <td>Nombre</td>
                    <td></td>
                    <td>Teléfono</td>
                </thead>
            {% endif %}
            {% if auth_pick.id1 %}
                <tr>
                    <td class="value" style="width: 20%">{{ auth_pick.id1|upper }}</td>
                    <td style="width: 2%"></td>
                    <td class="value">{{ auth_pick.long_name1|upper|truncate(truncate_limit, True, "", 0) }}</td>
                    <td style="width: 2%"></td>
                    {% if auth_pick.phone1 %}
                        <td class="value phone">{{ auth_pick.phone1 }}</td>
                    {% endif %}
                </tr>
            {% endif %}
            {% if auth_pick.id2 %}
                <tr>
                    <td class="value" style="width: 20%">{{ auth_pick.id2|upper }}</td>
                    <td style="width: 2%"></td>
                    <td class="value">{{ auth_pick.long_name2|upper|truncate(truncate_limit, True, "", 0) }}</td>
                    <td style="width: 2%"></td>
                    {% if auth_pick.phone2 %}
                        <td class="value phone">{{ auth_pick.phone2 }}</td>
                    {% endif %}
                </tr>
            {% endif %}
            {% if auth_pick.id3 %}
                <tr>
                    <td class="value" style="width: 20%">{{ auth_pick.id3|upper }}</td>
                    <td style="width: 2%"></td>
                    <td class="value">{{ auth_pick.long_name3|upper|truncate(truncate_limit, True, "", 0) }}</td>
                    <td style="width: 2%"></td>
                    {% if auth_pick.phone3 %}
                        <td class="value phone">{{ auth_pick.phone3 }}</td>
                    {% endif %}
                </tr>
            {% endif %}
            {% if auth_pick.id4 %}
                <tr>
                    <td class="value" style="width: 20%">{{ auth_pick.id4|upper }}</td>
                    <td style="width: 2%"></td>
                    <td class="value">{{ auth_pick.long_name4|upper|truncate(truncate_limit, True, "", 0) }}</td>
                    <td style="width: 2%"></td>
                    {% if auth_pick.phone4 %}
                        <td class="value phone">{{ auth_pick.phone4 }}</td>
                    {% endif %}
                </tr>
            {% endif %}
        </table>

        {% if edulevel.is_mandatory() %}
            <table style="width: 25%">
                <tr>
                    <td class="label">Salida por el entorno:</td>
                    <td class="value">{{ auth_exit.exit_auth_on_env|boolean }}</td>
                </tr>
            </table>
        {% else %}
            <table style="width: 70%">
                <tr>
                    <td class="label" style="width: 40%">Salida a última hora:</td>
                    <td class="value" style="width: 7%">{{ auth_exit.exit_auth_last_lesson|boolean }}</td>
                    <td style="width: 3%"></td>
                    <td class="label" style="width: 43%">Salida por el entorno:</td>
                    <td class="value" style="width: 7%">{{ auth_exit.exit_auth_on_env|boolean }}</td>
                </tr>
            </table>
        {% endif %}
    {% endif %}
</div>
