<div id="extra" class="section">
    <div class="title">Otra información de interés</div>

    <table style="width: 70%">
        <tr>
            <td class="label" style="width: 40%">Autoriza uso de imagen:</td>
            <td class="value" style="width: 7%">{{ extra.auth_image_use|boolean }}</td>
            <td style="width: 3%"></td>
            <td class="label" style="width: 43%">Presenta problemas de salud:</td>
            <td class="value" style="width: 7%">{{ extra.has_health_problem|boolean }}</td>
        </tr>
    </table>

    <table id="health-problem">
        <tr>
            {% if extra.health_problem %}
                <td class="value">{{ extra.health_problem|upper|truncate(420, True, "", 0) }}</td>
            {% endif %}
        </tr>
    </table>

</div>
