<div class="section">
    {% if not student.adult %}
        <div class="title">Datos personales del Responsable 1</div>
        <table>
            <tr>
                <td class="label">Nombre:</td>
                <td class="value">{{ responsible1.name|upper|truncate(20, True, "", 0) }}</td>
                <td></td>
                <td class="label">Apellidos:</td>
                <td class="value" colspan="3">{{ responsible1.surname|upper|truncate(38, True, "", 0) }}</td>
            </tr>
            <tr>
                <td class="label">{{ responsible1.id_label }}:</td>
                <td class="value">{{ responsible1.id_value|upper }}</td>
                <td></td>
                <td class="label">Trabajo:</td>
                <td class="value" colspan="3">{{ responsible1.job|upper|truncate(38, True, "", 0) }}</td>
            </tr>
            <tr>
                <td class="label" style="width: 10%">Sexo:</td>
                <td class="value" style="width: 30%">{{ responsible1.gender_label|upper }}</td>
                <td style="width: 2%"></td>
                <td class="label" style="width: 10%">Vínculo:</td>
                <td class="value" style="width: 16%">{{ responsible1.link_label|upper }}</td>
                <td class="label" style="width: 16%">Teléfono móvil:</td>
                <td class="value" style="width: 16%">{{ responsible1.mobile_phone }}</td>
            </tr>
            <tr>
                <td class="label">F. Nac.:</td>
                <td class="value">{{ responsible1.birth_date }}</td>
                <td></td>
                <td class="label">Email:</td>
                <td class="value" colspan="3">{{ responsible1.email }}</td>
            </tr>
            <tr>
                <td class="label">Edad:</td>
                <td class="value">{{ responsible1.age }} años</td>
                <td></td>
                {% if responsible1.separated or responsible2.separated %}
                    <td class="label">Patria potestad:</td>
                    <td class="value">{{ responsible1.parental_auth|boolean }}</td>
                    <td class="label">Guarda custodia:</td>
                    <td class="value">{{ responsible1.children_custody|boolean }}</td>
                {% else %}
                    <td colspan="4">Los responsables NO han indicado divorcio ni separación</td>
                {% endif %}
            </tr>
        </table>
    {% endif %}
</div>

<div class="section">
    {% if not student.adult %}
        <div class="title">Datos personales del Responsable 2</div>
        {% if responsible2.ignore_info %}
            Se desconocen los datos de este responsable.
        {% else %}
            <table>
                <tr>
                    <td class="label">Nombre:</td>
                    <td class="value">{{ responsible2.name|upper|truncate(20, True, "", 0) }}</td>
                    <td></td>
                    <td class="label">Apellidos:</td>
                    <td class="value" colspan="3">{{ responsible2.surname|upper|truncate(38, True, "", 0) }}</td>
                </tr>
                <tr>
                    <td class="label">{{ responsible2.id_label }}:</td>
                    <td class="value">{{ responsible2.id_value|upper }}</td>
                    <td></td>
                    <td class="label">Trabajo:</td>
                    <td class="value" colspan="3">{{ responsible2.job|upper|truncate(38, True, "", 0) }}</td>
                </tr>
                <tr>
                    <td class="label" style="width: 10%">Sexo:</td>
                    <td class="value" style="width: 30%">{{ responsible2.gender_label|upper }}</td>
                    <td style="width: 2%"></td>
                    <td class="label" style="width: 10%">Vínculo:</td>
                    <td class="value" style="width: 16%">{{ responsible2.link_label|upper }}</td>
                    <td class="label" style="width: 16%">Teléfono móvil:</td>
                    <td class="value" style="width: 16%">{{ responsible2.mobile_phone }}</td>
                </tr>
                <tr>
                    <td class="label">F. Nac.:</td>
                    <td class="value">{{ responsible2.birth_date }}</td>
                    <td></td>
                    <td class="label">Email:</td>
                    <td class="value" colspan="3">{{ responsible2.email }}</td>
                </tr>
                <tr>
                    <td class="label">Edad:</td>
                    <td class="value">{{ responsible2.age }} años</td>
                    <td></td>
                    {% if responsible1.separated or responsible2.separated %}
                        <td class="label">Patria potestad:</td>
                        <td class="value">{{ responsible2.parental_auth|boolean }}</td>
                        <td class="label">Guarda custodia:</td>
                        <td class="value">{{ responsible2.children_custody|boolean }}</td>
                    {% else %}
                        <td colspan="4">Los responsables NO han indicado divorcio ni separación</td>
                    {% endif %}
                </tr>
            </table>
        {% endif %}
    {% endif %}
</div>
