<div id="header-cover">
    <img id="logo-school" src="{{ root }}/static/img/Logotipo_IES.png">
    <img id="logo-consejeria" src="{{ root }}/static/img/Logotipo_CONSEJERIA.png">
    {% if copy_target == "centro" %}
        <span id="profile-pic">Foto</span>
    {% endif %}
    <span id="order-id">Número de orden</span>
    <div id="register">
        <b>Fecha de recepción:</b>
        <div class="receipt_date">___ // ___ // ___</div>
        <b>Número de expediente:</b>
        <div id="record">
            <div class="digit"></div>
            <div class="digit"></div>
            <div class="digit"></div>
            <div class="digit"></div>
        </div>
    </div>
    <div id="title">
        Solicitud de matrícula:
        <span class="edulevel">{{ vt_edulevel or edulevel.code }}</span>
    </div>
    <div id="subtitle">
        {{ academic.topic_label or edulevel.description }}
        {% if academic.training_itinerary_label %}
            - itinerario {{ academic.training_itinerary_label|truncate(40, True, "", 0) }}
        {% endif %}
    </div>
    <div id="school-year">
        {{ school_year }}
    </div>
    <div class="copy">
        Ejemplar para<br><b>el {{ copy_target }}</b>
    </div>
    <div class="page-counter"></div>
</div>
