{% set truncate_limit = 30 %}

<div id="signature" class="section">
    <div class="title">ACEPTACIÓN DE CONDICIONES Y FIRMA</div>

    <div class="content">
    
        En Puerto de la Cruz, a {{ signature_date }}

        <table>
            <tr>
                {% if not student.adult %}
                    <td style="width: 33%">Responsable 1</td>
                {% endif %}
                <td style="width: 33%">El alumno/a</td>
                {% if not student.adult and not responsible2.ignore_info %}
                    <td style="width: 33%">Responsable 2</td>
                {% endif %}
            </tr>
            <tr class="space"></tr>
            <tr>
                {% if not student.adult %}
                    <td>Fdo.: {{ (responsible1.name + " " + responsible1.surname)|title|truncate(truncate_limit, True, "", 0) }}</td>
                {% endif %}
                <td>Fdo.: {{ (student.name + " " + student.surname)|title|truncate(truncate_limit, True, "", 0) }}</td>
                {% if not student.adult and not responsible2.ignore_info %}
                    <td>Fdo.: {{ (responsible2.name + " " + responsible2.surname)|title|truncate(truncate_limit, True, "", 0) }}</td>
                {% endif %}
            </tr>
        </table>

        <div class="conditions">
            Con la firma de este documento acepta las condiciones establecidas en <a href="https://matricula.iespuertodelacruz.es/condiciones">https://matricula.iespuertodelacruz.es/condiciones</a>
        </div>

    </div>

</div>
