{% load static %}
{% load cookielaw_tags %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/jquery-ui/themes/base/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>

    <body>
        {% cookielaw_banner %}
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-3">
                        <a href="http://www.iespuertodelacruz.es"><img src="{% static 'img/Logotipo_IES.png' %}"></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/"><h1>Aplicación de matrícula</h1></a>
                    </div>
                    <div class="col-md-3">
                        <a href="http://www.gobiernodecanarias.org/educacion"><img src="{% static 'img/Logotipo_CONSEJERIA.png' %}"></a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container main">
            {% if breadcrumbs %}
                <div class="row">
                    <ol class="breadcrumb">
                        {% for bc in breadcrumbs %}
                            {% if bc.active %}
                                <li class="active">{{ bc.name }}</li>
                            {% else %}
                                <li><a href="{{ bc.url }}">{{ bc.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
            {% block content %}
                <div class="row">
                    <div class="col-md-6">
                        {% block content_left %}
                        {% endblock %}
                    </div>
                    <div class="col-md-6 text-right">
                        <h2>{{ edulevel.code }}</h2>
                        <h3>{{ edulevel.description }}</h3>
                        <h3>{{ itinerary }}</h3>
                        <h4>{{ edulevel.law }}</h4>
                        <a id="new_application" href="#" role="button" class="btn btn-danger">{{ cancel_btn_msg|default:"Cancelar matrícula y volver al listado inicial" }}</a>
                        {% block content_right %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="footer">
            <p>Hecho con <i class="fa fa-heart-o"></i> por Sergio Delgado Quintero</p>
        </div>
    </body>

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/i18n/datepicker-es.js' %}"></script>
    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</html>
