{% extends "base.html" %}

{% load static %}

{% block content %}

<h2>Condiciones</h2>

<ol>
    <li>El <b>alumnado de nueva incorporación</b> al centro deberá figurar en la lista definitiva de admitidos, y aportar la certificación académica de los estudios realizados, salvo el alumnado de los CEIPs adscritos (CEIP San Antonio y CEIP Tomás de Iriarte).</li>
    <li>Si posee <b>estudios realizados en otros países</b> deberá solicitar las convalidaciones a la Subdelegación del Gobierno, ubicada en la C/ Méndez Núñez, 9 en Santa Cruz de Tenerife. Teléfono: 922 999 000. Es imprescindible presentar dichas convalidaciones o el comprobante de tramitación de las mismas, en el momento de matricularse.</li>
</ol>

{% endblock %}
