{% extends "base.html" %}

{% block content %}

{% if is_regular_enroll_period %}
    <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle"></i>
        Acceda al nivel al que cree que va a promocionar.
    </div>
{% endif %}

<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <th></th>
            <th></th>
            <th></th>
            <th>Coste</th>
            {% if is_regular_enroll_period %}
                <th>Fecha de matrícula</th>
            {% endif %}
        </thead>

        {% for level in edu_levels %}
            <tr>
                <td>
                    <a href=
                    {% if level.allow_multi_enrollment and level.enrollment_date and is_regular_enroll_period %}
                        "{% url 'multi_enrollment' level.code %}"
                    {% else %}
                        "{% url 'student' level.code %}"
                    {% endif %}
                    >{{ level.code }}</a>
                </td>
                <td>{{ level.law }}</td>
                <td>{{ level.description }}</td>
                <td>{{ level.cost }}€</td>
                {% if is_regular_enroll_period %}
                    <td>{{ level.enrollment_date|default:"---" }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <div class="disclaimer">
        <i class="fa fa-info-circle"></i>
        <b>DISCLAIMER</b>: La información enviada no se almacena en el servidor, únicamente se usa para generar el formulario final de matrícula en formato PDF.
    </div>
</div>

{% endblock %}
