{% extends "base.html" %}

{% block content %}

<div class="row">
    <p>Bienvenido/a a la aplicación de matrícula del IES Puerto de la Cruz - Telesforo Bravo.</p>
    <p>Selecciona el nivel para el que te quieres matricular:</p>

    <table class="table table-striped table-hover">
        <thead>
            <th></th>            
            <th></th>            
            <th></th>            
            <th>Coste</th>            
            <th>Fecha de matrícula</th>            
        </thead>

        {% for level in edu_levels %}
            <tr>
                <td><a href="m/{{ level.code }}/">{{ level.code }}</a></td>
                <td>{{ level.law }}</td>
                <td>{{ level.description }}</td>
                <td>{{ level.cost }}€</td>
                <td>{{ level.enrollment_date|default:"---" }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
