{% extends "base.html" %}

{% load static %}
{% load core_extras %}

{% block content_left %}

<h2>
    <i class="fa fa-warning"></i>
    Información sobre multimatrícula
</h2>

<p>
    <i class="fa fa-arrow-circle-right"></i>
    {% if edulevel.is_ESO %}
        Si usted ha suspendido en junio <b>tres o más materias</b>, o bien ha suspendido las materias de <b>Lengua y Matemáticas de forma simultánea</b>, deberá hacer multimatrícula por si repite.
    {% else %}    
        Si usted ha suspendido en junio <b>tres o más materias</b>, deberá hacer multimatrícula por si repite.
    {% endif %}
</p>

<p>
    <i class="fa fa-arrow-circle-right"></i>    
    Al llegar al <b>último paso de esta aplicación de matrícula</b>, tendrá que imprimir la documentación y utilizar el botón de multimatrícula para no perder los datos y modificar sólo los datos académicos. De nuevo se tendrá que llegar a la última página y volver a imprimir la nueva documentación.
</p>

<p>
    <i class="fa fa-arrow-circle-right"></i>    
    <b>Sólo se pagará 1 matrícula</b> con el mayor importe de las dos multimatrículas (en caso de ser diferentes), y se entregarán ambas el día que corresponde a la de <b>mayor nivel educativo</b>.
</p>

<a href="{% url 'student' edulevel.code %}" role="button" class="btn btn-success">Lo he entendido. Continuar con la matrícula</a>

{% endblock %}
