{% extends "base.html" %}

{% load static %}

{% block content_left %}

<h2>Resumen</h2>

<p>
    Éste es el último paso del asistente de generación de matrícula. Tenga en cuenta los siguientes puntos:
</p>

<h3>Documentación a entregar</h3>

<ul>
    <li><a class="btn btn-success btn" href="{% url 'form' edulevel.code %}" role='button'>Impreso de matrícula</a> (imprimir 2 copias, preferiblemente a doble cara).</li>
    <li><b>1 fotografía de carnet a color</b> de <i>{{ data.student.full_name|title }}</i> pegada a la esquina superior derecha del impreso de matrícula. No vale fotocopia a color.</li>
    <li><b>Fotocopia del NIF/NIE/Pasaporte</b> (según corresponda) de <i>{{ data.student.full_name|title }}</i>.</li>
    {% if not data.student.attached_ceip %}
        <li><b>Certificado de estudios</b> del centro de origen.</li>
    {% endif %}
    <li><b>Fotocopia de la tarjeta sanitaria</b> o cartilla de la seguridad social.</li>
    {% if not data.student.adult %}
        <li><b>Fotocopia del NIF/NIE/Pasaporte</b> (según corresponda) de <i>{{ data.responsible1.full_name|title }}</i>.</li>
        {% if not data.responsible1.ignore_data %}
            <li><b>Fotocopia del NIF/NIE/Pasaporte</b> (según corresponda) de <i>{{ data.responsible2.full_name|title }}</i>.</li>
        {% endif %}
    {% endif %}
    {% if data.extra.has_health_problem %}
        <li><b>Informe médico correspondiente</b> ya que ha indicado algún problema de salud.</li>
    {% endif %}
    {% if data.responsible1.separated or data.responsible2.separated %}
        <li>Fotocopia de la <b>sentencia judicial que valida el convenio regulador del régimen de visitas</b>.</li>
    {% endif %}
    {% if data.responsible1.is_tutor or data.responsible2.is_tutor %}
        <li><b>Fotocopia del documento de disponer de la tutela</b> de {{ data.student.full_name|title }}</li>.
    {% else %}
        {% if not data.student.adult %}
            <li><b>Fotocopia del libro de familia</b>.</li>
        {% endif %}
    {% endif %}
    {% with doc_url="docs/"|add:edulevel.enrollment_payment_doc %}
        <li><a href="{% static doc_url %}" target="blank">Instrucciones para el pago de las tasas de matrícula</a> (Original y copia) <b>{{ edulevel.cost }}€</b>. También se puede pagar a través de internet por <em>Línea Abierta</em> o sin tarjeta de crédito en <em>cajeros ingresadores.</em></li>
    {% endwith %}
</ul>

<p>
    <i class="fa fa-check-square-o"></i>
    Con la firma del documento de matrícula <a target="blank" href="{% url 'conditions' %}">acepta estas condiciones</a>.
</p>

<h3>Fecha de entrega de matrícula</h3>

<p>
    Recuerde que debe entregar la documentación en la secretaría del centro el próximo día <b>{{ edulevel.enrollment_date }}</b> en horario de <b>8:30h a 13:30h</b>.<br><br>
    Se irá atendiendo por orden de llegada, y habrá un <em>"coja su turno"</em> para que no se produzcan aglomeraciones.
</p>

{% if edulevel.is_vocational_training %}
    <h3>Convalidación de módulos</h3>

    <p>
        Si desea convalidar/homologar módulos para su matrícula en ciclos de formación profesional, debe <a href="{% static 'docs/vt_recognition.pdf' %}" target="blank">rellenar el siguiente documento</a> y entregarlo en la secretaría del centro.
    </p>
{% endif %}

<h3>Multimatrícula</h3>

<ul>
    <li>Si el alumno/a se va a matricular en <b>ESO</b> y ha suspendido en junio tres o más materias, o bien ha suspendido Lengua y Matemáticas de forma simultánea, deberá hacer multimatrícula por si repite.</li>
    <li>Si el alumno/a se va a matricular en <b>Bachillerato</b> y ha suspendido en junio tres o más materias, deberá hacer multimatrícula por si repite.</li>
</ul>

Seleccione el nivel para que el que quiera hacer multimatrícula, y <b>no pierda los datos ya introducidos</b>:

<form action="/change_edulevel/{{ edulevel.code }}/" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" name="target_edulevel_id">
                {% for e in edulevels %}
                    <option value="{{ e.id }}">{{ e }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                Hacer multimatrícula
            </button>
        </div>
    </div>
</form>

<i class="fa fa-exclamation-triangle"></i> Sólo se pagará 1 matrícula con el mayor importe de las dos multimatrículas (en caso de ser diferentes), y se entregarán ambas el día que corresponde a la de mayor nivel educativo.

<h3>Inscripción en el AMPA</h3>

<p>
    Si desea inscribirse en la Asociación de Madres y Padres de Alumnado (AMPA) debe <a href="{% static 'docs/ampa_form.pdf' %}" target="blank">rellenar el siguiente formulario</a>, hacer el pago correspondiente según especifica el documento, y entregar la documentación en el puesto del AMPA que estará todos los días de matrícula en el hall de entrada al instituto.
</p>

{% endblock %}
